<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <%- style %>
</head>
<body>
    <%- include('_header') -%>
    
    <%- body %>
    <!-- Sets the noty when there is something present in the flash -->
    <script>
        <% 
            
            if(flash.success && flash.success.length >0 ){ %>
            new Noty({
                theme: 'relax', 
                text: "<%=flash.success%>",
                type:'success',
                layout: 'topRight',
                timeout: 1500

            }).show();
        <% }%>
        <% 
            
            if(flash.error2 && flash.error2.length >0 ){ %>
            new Noty({
                theme: 'relax', 
                text: "<%=flash.error2%>",
                type:'error',
                layout: 'topRight',
                timeout: 1500

            }).show();
        <% }%>
        
        </script>
    <script src="/js/noty_display.js"></script>
    <script src="https://kit.fontawesome.com/f30dc76486.js" crossorigin="anonymous"></script>
    
    <%- script %>
    
</body>
</html>